@import url(fonts.css);

/* ROOT start */
:root {
    --text: #fff;
    --body: #040D1F;
    --fontFirst: "Comfortaa";
    --fontSecond: "Montserrat";
    --fontThird: "Roboto";
    --link: #ED8E00;
    --btn-color: #000;
    --btn-bg: #F18128;
    --banner-bg: rgba(7, 15, 25, 0.75);
    --banner-desc: #C8C8C8;
    --title: #F18128;
    --premier-desc: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background: var(--body);
    font-family: var(--fontFirst);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--link);
    border-radius: 6px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    /* border: 1px solid #fff; */
    margin: 0 auto;
}

.button {
    color: var(--btn-color);
    background: var(--btn-bg);
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    font-family: var(--fontThird);
    max-width: 166px;
    width: 100%;
    display: inline-block;
    padding: 17px;
    text-align: center;
    border-radius: 4px;
    transition: 500ms;
}

.button:hover {
    background: var(--body);
    color: var(--text);
}

.text_limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
}

.text_limit:active {
    -webkit-line-clamp: unset;
}

.title {
    margin-top: 60px;
    margin-bottom: 48px;
}

.title__link {
    font-size: 36px;
    font-weight: 400;
    color: var(--title);
    text-transform: capitalize;
    display: inline-block;
}

.title__link::after {
    content: '';
    height: 2px;
    background: var(--title);
    display: block;
}

/* ROOT end */
/* ==================== */
/* ADS start */
.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    /* background: linear-gradient(45deg, red, yellow 80%, green 80%, blue); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    height: 80px;
}

.ads__icon {
    line-height: 40px;
    font-size: 53px;
    margin-right: 24px;
}

.ads__span {
    max-width: 166px;
    width: 100%;
    font-weight: 400;
}

/* ADS end */
/* ==================== */
/* HEADER start */
.header {
    position: sticky;
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
    top: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    font-size: 40px;
    background: none;
    border: none;
    color: var(--text);
    padding: 20px;
    display: none;
}

.logo {
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
}

.logo__img {
    width: 103px;
    margin-right: 5px;
}

.menu {
    display: flex;
}

.menu__link {
    color: var(--text);
    font-size: 14px;
    padding: 42px 6px;
    /* background: red; */
    display: block;
    margin-left: 18px;
    position: relative;
    transition: 500ms;
}

.menu__link:hover {
    color: var(--link);
}

.menu__link::after {
    content: '';
    height: 2px;
    width: 0%;
    background: var(--link);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: 500ms;
}

.menu__link:hover::after {
    width: 100%;
    left: 0;
}



/* HEADER end */
/* ==================== */
/* BANNER start */

.banner {
    min-height: 80vh;
    position: relative;
    display: flex;
}

.banner__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__content {
    position: relative;
    background: var(--banner-bg);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.banner__title {
    margin-bottom: 22px;
    font-size: 64px;
    font-family: var(--fontSecond);
}

.banner__desc {
    line-height: 24px;
    font-family: var(--fontSecond);
    max-width: 570px;
    width: 100%;
    margin-bottom: 48px;
    color: var(--banner-desc);
    text-align: justify;
    -webkit-line-clamp: 4;
}

.banner__links {
    display: flex;
}

.banner__links .button:first-of-type {
    margin-right: 30px;

}

/* BANNER end */
/* ==================== */
/* FILMS start */

.films__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;

}

.films__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

.films__content {
    position: relative;
    padding: 56px 15px 19px 15px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.films__icon {
    line-height: 48px;
    font-size: 48px;
    margin-bottom: 13px;
    transition: 500ms;
}

.films__time {
    border: 1px solid #FFF;
    background: rgba(7, 15, 25, 0.2);
    border-radius: 9px;
    padding: 7px 28px;
    font-size: 14px;
    line-height: 10px;
    font-family: var(--fontSecond);
    margin-bottom: 32px;
    transition: 500ms;
}

.films__title {
    font-size: 22px;
    font-family: var(--fontSecond);
    font-weight: 400;
    margin-bottom: 13px;
    text-align: center;
    -webkit-line-clamp: 1;
}

.films__desc {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--fontThird);
    -webkit-line-clamp: 7;
}

.films {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 71px;
}

/* FILMS end */
/* ==================== */
/* PREMIER start */

.premier {
    position: relative;
}

.premier__img {
    max-width: 100%;
}

.premier__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.premier__content {
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding-top: 43px;
    padding-bottom: 80px;
}

.premier__title {
    margin-bottom: 50px;
}

.premier__desc {
    color: var(--premier-desc);
    max-width: 558px;
    width: 100%;
    line-height: 27px;
    font-family: var(--fontThird);
    font-size: 18px;
    text-align: justify;
    margin-bottom: 55px;
    -webkit-line-clamp: 5;
}


/* PREMIER end */
/* ==================== */
/* COLLECTIONS start */

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: 200px;
}

.collections__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.collections__content {
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    row-gap: 16px;
    padding: 0 35px;
    text-align: center;
}

.collections__icon {
    line-height: 48px;
    font-size: 48px;
    transition: 500ms;
}

.collections__content {
    font-size: 20px;
    text-align: justify;
    -webkit-line-clamp: 1;
}

.collections__content::before,
.collections__content::after {
    content: '';
    background: url(../img/collections/line.png) no-repeat center;
    position: absolute;
    top: 8px;
    left: 7px;
    width: 20px;
    bottom: 7px;
    transition: 500ms;
}

.collections__content::after {
    right: 7px;
    left: auto;
}

.collections__title {
    font-size: 20px;
    -webkit-line-clamp: 1;
    transition: 500ms;
    text-align: center;
}

/* COLLECTIONS end */
/* ==================== */
/* SERIES start */

.series__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    min-height: 190px;
}

.series__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

.series__content {
    position: relative;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    height: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.series {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.series__card:nth-of-type(1) {
    grid-column: span 4;
    grid-row: span 2;
    height: 450px;
}

.series__card:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.series__desc {
    margin: 30px 0;
    line-height: 24px;
    -webkit-line-clamp: 4;
}

.series__title {
    font-size: 24px;
}

.series__title_fz40 {
    font-size: 40px;
}

.series__icon {
    line-height: 48px;
    font-size: 48px;
    transition: 500ms;
    margin-bottom: 20px;
}

/* SERIES end */
/* ==================== */
/* FOOTER start */

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24px 0;
    margin-top: 61px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    margin-right: 50px;
}

.footer__desc {
    font-weight: 700;
    font-size: 18px;
}


/* FOOTER end */
/* ==================== */